
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #181818;
    padding: 24px;
}
.container{
    max-width: 1168px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-sizing: none;
}
header nav li{
    margin-left: 32px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type{
    margin-left: 32px;
}
header nav li a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: none;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
}
/* Нижние правые иконки */
.icons{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    z-index: 3;
}
/* Стилизация иконок */
.icons li{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}
/* :after и :before всегда работают в паре с content:"" */
.icons li:before{
    display: inline-block;
    content:"";
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;    
}

.icons li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}

.icons li:nth-child(3):before{
    background-image: url("../images/iso.svg");
    width: 32px;
    margin-right: 7px;
}

.icons li:last-of-type:before{
    background-image: url("../images/drop.svg");
    width: 10px;
    margin-right: 5px;
}/* Стилизация иконок */
/* Нижние правые иконки */

/* Первая секция */
.main_banner{
    background-image: url("../images/main_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 83px);
    display: flex; 
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
    }
.main_banner h3{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    }
.main_banner h1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
}
.main_banner p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Первая секция */

/* Секция what_we_do */
.what_we_do{
    
    background-color: black;
}
.what_we_do .d_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.what_we_do .d_flex article{
    margin-bottom: 16px;
    max-width: 576px;
}
.what_we_do .d_flex article img{
    width: 100%;
    display: block;
}
.what_we_do .container{
padding: 120px 16px 100px 16px;
max-width: 1200px;
}

.what_we_do h3{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 15px; /* 105% */
}
.what_we_do h4{
    color: #C0C0C0;
    text-align: center;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
/* Текст артикля cras в позиции absoulute */
.cras{
    position: relative;
}
.product h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product p{
color: #C0C0C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.product{
position: absolute;
left: 30px;
bottom: 30px;
}
.product h4, p{
text-align: left;
}
.product h4{
margin-bottom: 10px;
}
.product p{
max-width: 501px;
margin-bottom: 17px;
}
/* Кнопка */
.product a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
        /* Шрифт */
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.4px
}
.product a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}/* Кнопка */
/* Текст артикля cras в позиции absoulute */
/* Текст артикля Architecture в позиции absoulute */
.Architecture{
    position: relative;
}
.Aenean h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Aenean p{
color: #C0C0C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.Aenean{
position: absolute;
left: 30px;
bottom: 30px;
}
.Aenean h4, p{
text-align: left;
}
.Aenean h4{
margin-bottom: 10px;
}
.Aenean p{
    max-width: 501px;
    margin-bottom: 17px;
}
/* Кнопка */
.Aenean a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
        /* Шрифт */
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.4px
}
.Aenean a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}/* Кнопка */
/* Текст артикля Architecture в позиции absoulute */

/* Текст артикля Drone в позиции absoulute */
.Drone{
    position: relative;
}
.Mauris h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Mauris p{
color: #C0C0C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.Mauris{
position: absolute;
left: 30px;
bottom: 30px;
}
.Mauris h4, p{
text-align: left;
}
.Mauris h4{
margin-bottom: 10px;
}
.Mauris p{
    max-width: 501px;
    margin-bottom: 17px;
}
/* Кнопка */
.Mauris a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
        /* Шрифт */
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.4px
}
.Mauris a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}
/* Текст артикля Drone в позиции absoulute */

/* Текст артикля Wildlife в позиции absoulute */
.Wildlife{
    position: relative;
}
.dolor h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dolor p{
color: #C0C0C0;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.dolor{
position: absolute;
left: 30px;
bottom: 30px;
}
.dolor h4, p{
text-align: left;
}
.dolor h4{
margin-bottom: 10px;
}
.dolor p{
    max-width: 501px;
    margin-bottom: 17px;
}
/* Кнопка */
.dolor a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
    /* Шрифт */
color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.4px
}
.dolor a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}/* Кнопка */
/* Текст артикля Drone в позиции absoulute */
/* Секция what_we_do */

/* Секция SunsetMount */
.SunsetMount{
    min-height: 600px;
    background-image: url("../images/SunsetMount.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;  
    position: relative;  
}

.SunsetMount .container{
    max-width: 298px;
    margin-right: 62px;
}
.SunsetMount h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.SunsetMount p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Секция SunsetMount */
/* Секция monstera */
.monstera{
    min-height: 600px;
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    display: flex;
    align-items: center;
    justify-content: end;  
    position: relative;  
}

.monstera .container{
    max-width: 298px;
    margin-right: 60px;
}
.monstera h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.monstera p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Секция monstera */
/* Секция pastclients */
                    .pastclients{
                        
                        min-height: 600px;
                        background-color: #000;
                        display: flex;
                        position: relative;
                    }

                    .pastclients .container{
                        min-width: 1200px;                       
                        text-align: center;                      
                    }
                    .pastclients h2{
                        
                        color: #FFF;
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-family: 'poppinsregular', sans-serif;
                        font-family: 'Roboto', sans-serif;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 42px;
                    }
                    .pastclients h3{
                        margin: 15px;
                        color: #C0C0C0;
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-family: 'poppinsregular', sans-serif;
                        font-family: 'Roboto', sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;                       
                    }
                    .clientslist{                                        
                        margin-top: 40px;                        
                        padding: 40px 46px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                    }
                    .clientslist a{
                    max-width: 128px;
                    display:inline-block;
                    }
/* Секция pastclients */
/* Секция starfall */
.starfall{
    min-height: 600px;

    background-image: url("../images/starfall.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end; 
    position: relative;   
}

.starfall .container{
    max-width: 298px;
    margin-right: 60px;
}
.starfall h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.starfall p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Секция starfall */



.progress{
    width: 300px;
    height: 50px;
    border: solid 2px black;
    border-radius: 12px;
    margin: 100px;
    overflow: hidden;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
/* :after и :before всегда работают в паре с content:"" */
.progress:before{
    display: inline-block;
    content: "";
    background-color: red;
    width: 33%;
    height: 50px;
}
/* :after и :before всегда работают в паре с content:"" */
.progress:after{
    display: inline-block;
    content: ""; 
    background-color: green;
    width: 33%;
    height: 50px;
}
.gear_cage{
    min-height: 540px;
    background-color: black;
    position: relative;
}
/* :after и :before всегда работают в паре с content:"" */
.gear_cage:after{
    width: 50%; /* чтобы бэкграунд занял половину размера секции */
    height: 100%; /* чтобы бэкграунд занял 100% высоты и был адаптивным*/ 
    position: absolute;
    
    right: 0;
    top: 0;
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    content: "";
    display: block;
}
.gear_cage .container { 
display: flex;
justify-content: space-between;
max-width: 1240px;
align-items: center;
min-height: 540px;  
}
.gear_cage .tools{
max-width: 514px;
}
/* .gear_cage .icons{
    z-index: 3;
} */
.gear_cage h3{
    color: #C0C0C0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.gear_cage h4{
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 6px;
}
.gear_cage p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
/* Кнопка */
.tools a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
    /* Шрифт кнопки */
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.tools a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}/* Кнопка */

.need_help{
    
    background-color: black; 
}
.need_help .container{
    padding-top: 113px;
    padding-bottom: 108px;
    max-width: 571px;
    text-align: center;
    /* display:flex; 
    flex-direction: column;
    
    align-items: center;
    align-content: center; */
}

.need_help .container h4{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 42px;
margin-bottom: 15px;
}
.need_help .container h5{
    color: #C0C0C0;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-bottom: 22px;
}

.need_help .container a{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.4px;
}
/* Кнопка */
.need_help .container a{
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 4px;
    text-decoration: none;    
    border-radius: 14px;
    background: #FFF;
    /* Шрифт кнопки */
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.need_help .container a:before {
    content: "";    
    width: 36px;
    height: 36px;
    background-image: url('../images/blackclick.svg'); 
    background-size: cover;
    margin-right: 5px;
}/* Кнопка */
 /* Карусель */
.owl-carousel{
color: #ffffff;
}
.clientslist .owl-stage{
    display: flex;
    align-items: center;
}
.clientslist .owl-stage .owl-item{
        text-align: center;
}

.clientslist.owl-carousel{
    text-align: center;
    
}
 /* Центровка картинок в карусели */
 
.clientslist.owl-carousel .owl-nav .owl-prev{
background-color: #FFFFFF;
width: 45px;
height: 45px;
border-radius: 50%;
display: block;
position: absolute;
left: 0px;
top: 55px;
}
.clientslist.owl-carousel .owl-nav .owl-prev:after{
    display: inline-flex;
    content: "<";
    font-size: 25px;
    
    color: black;
    font-weight: 1000;
    }
.clientslist.owl-carousel .owl-nav .owl-next{
    background-color: #FFFFFF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 0px;
    top: 55px;
}
.clientslist.owl-carousel .owl-nav .owl-next:after{
display: inline-flex;
content: ">";
font-size: 25px;

color: black;
font-weight: 1000;
}

.clientslist.owl-carousel .owl-dots .owl-dot span{
display: inline-block;
margin: 10px;
background-color: #FFFFFF;
border-radius: 50%;
width: 15px;
height: 15px;
}

.clientslist.owl-carousel .owl-dots .owl-dot.active span{
background-color: green;
}