
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #181818;
    padding: 24px;
}
.container{
    max-width: 1168px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-sizing: none;
}
header nav li{
    margin-left: 32px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type{
    margin-left: 32px;
}
header nav li a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-decoration: none;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    border-radius: 14px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
}
.main_banner{
    background-image: url("../images/main_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 83px);
    display: flex; 
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
    }
.main_banner h3{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
    }
.main_banner h1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
}
.main_banner p{
    color: #C0C0C0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.SunsetMount{
    min-height: 600px;
    background-image: url("../images/SunsetMount.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;  
    position: relative;  
}

.SunsetMount .container{
    max-width: 298px;
    margin-right: 62px;
}
.SunsetMount h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.SunsetMount p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.monstera{
    min-height: 600px;
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    display: flex;
    align-items: center;
    justify-content: end;  
    position: relative;  
}

.monstera .container{
    max-width: 298px;
    margin-right: 60px;
}
.monstera h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.monstera p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

                    .pastclients{
                        
                        min-height: 600px;
                        background-color: #000;
                        display: flex;
                        position: relative;
                    }

                    .pastclients .container{
                        min-width: 1200px;                       
                        text-align: center;                      
                    }
                    .pastclients h2{
                        
                        color: #FFF;
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-family: 'poppinsregular', sans-serif;
                        font-family: 'Roboto', sans-serif;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 42px;
                    }
                    .pastclients h3{
                        margin: 15px;
                        color: #C0C0C0;
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-family: 'poppinsregular', sans-serif;
                        font-family: 'Roboto', sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;                       
                    }
                    .clientslist{                                        
                        margin-top: 40px;                        
                        padding: 40px 46px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
.starfall{
    min-height: 600px;

    background-image: url("../images/starfall.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end; 
    position: relative;   
}

.starfall .container{
    max-width: 298px;
    margin-right: 60px;
}
.starfall h2{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}
.starfall p{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.icons{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.icons{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
}
.icons li{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-family: 'poppinsregular', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 16px;
    list-style: none;
}
.icons li:before{
    display: inline-block;
    content:"";
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -6px;    
}
.icons li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}

.icons li:nth-child(3):before{
    background-image: url("../images/iso.svg");
    width: 32px;
    margin-right: 7px;
}

.icons li:last-of-type:before{
    background-image: url("../images/drop.svg");
    width: 10px;
    margin-right: 5px;
}
